<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dhristi</title>
    <link rel="icon" type="image/png" href="images/chat-icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>


<footer>&copy; <a href="unifolio.pages.dev">un1qu3</a></footer>

</html>